.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgb(251, 82, 0)  !important;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    color: rgb(94, 38, 5) !important;
    

}

.botonPerfil{
    color: rgb(255, 255, 255);
    background-color:rgb(251, 82, 0) ;
    border-radius: 8px;
    border: transparent;
    padding: 8px;
    transition: 0.5s;
    text-decoration: none;
}
.botonPerfil:hover{
    background-color:rgb(199, 66, 0) ;
    color:  rgb(255, 255, 255);
}

.file-select {
    position: relative;
    display: inline-block;
  }
  
.file-select::before {
    background-color: rgb(251, 82, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    content: 'Seleccionar archivo';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }