.tutorial{
    color: rgb(251, 82, 0);
}

.imgFondoRuta{ background-image:  url(../../../registroRuta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
};
